<!-- Menu Navbar -->
<div class="container-custom bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#" [title]="title_logo">ProjectTest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="link-home" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link" id="link-tutorail">Tutorial</a>
                        <div class="dropdown-content">
                            <a class="dropdown-link" [routerLink]="['/HeroesApp']">Heroes App</a>
                            <a class="dropdown-link" href="#">Link 2</a>
                            <a class="dropdown-link" href="#">Link 3</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/HeroesApp']">Select1</a>
                        <a class="dropdown-item" href="#">Select2</a>
                        <hr>
                        <a class="dropdown-item" href="#">Select3</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>